
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: "Roboto", sans-serif;

}

.navbar{
    display: flex;
    flex-flow: row wrap;
    background:#f7f7f7;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    
}

.logo{
    flex:20%;
    text-align: left;
    margin-left: 10%;
  
}
.logo h1{
    font-family: "Lobster", sans-serif;
    font-size: 34px;
    color: #5146af;
}

.menu{
    flex:70%;
    padding: 20px;
}


.menu a{
    margin-right: 65px;
    float:right;
    text-decoration: none;
    color: #5146af;
    font-size: 20px;
    
}
.menu a:hover{
    color:#e1474d;
    border-top:4px solid #40ebff
}

#botao{
    background: #5146af;
    padding: 10px 25px;
    color:#f7f7f7;
    border-radius:5px;
    margin-right: 10%;
    margin-left: 5%;
}
#botao:hover{
    border:none;
    background:#e1474d ;
}
.header{
    justify-content: center;
    align-items: center;
    background: #f7f7f7;
    display: flex;
    flex-flow: row wrap;
    padding-top: 100px;
}
.headline{
    margin-left:10%;
    flex:40%;
   
}
.headline h2{
    font-weight: 900;
    font-size: 20px;
    color: #5146af;
    padding: 0;
    margin: 0;
    
}
.headline p{
    color:gray;
    text-align: left;
}
.contact-btn{
    display:inline-block;
    background: #e1474d;
    padding: 20px;
    color:#f7f7f7;
    text-transform:uppercase;
    border-radius: 5px;
    text-decoration: none;
}
.contact-btn:hover{
    background: #5146af;
}
.img-headline{
    text-align: center;
    margin-right:10%;
    flex:40%;
}
section{
    margin-top:80px;
    
    margin-left: 5%;
    margin-right: 5%;
   
    text-align: center;
    padding: 5%;
}
section h2{
    width: 100%;
    font-size: 50px;
    margin: 0;
    font-family: 'lobster', cursive;
    font-weight: bolder;
    color:#5146af ;
}
.servicos{
    display: inline-block;
    margin-top: 5%;
}
.card{
    display: inline-block;
    width: 30%;
    padding: 20px;
    margin: 1%;
    border: 1px solid #e1474d;
    border-radius: 10px;
    cursor: pointer;
}
.card:hover{
    background: #e1474d;
    color:white;
    padding:40px;   
}
.card:hover .card-text{
    display: none;
}
.card:hover .texto-oculto{
    display: block;
}
.card:hover img{
    display: none;
}
.texto-oculto{
    display: none;
}
footer{
    margin-top: 100px;
    height: 400px;
    background-image: linear-gradient(180deg,#5146af,#382f8b,#140e4a);
    text-align: center;
    border-top: 5px solid #e1474d;
}

.logo-rodape{
    padding:100px;
    color:#3febff
}
.agencia{
    font-family: "Lobster", sans-serif;
    font-size: 34px;
    color: #3febff;
}